/* 
=======================================================
Lemon CSS

Released for OSWD and OWD.
Coded by Anthony Yeung (http://smallpark.org)
May 24 2005
It would be nice if you could leave this here, thanks.
=======================================================
*/

html,body {
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin-top: 20px;
}

div#content a, div#extra a, div#sidebar a, div#press a, div#projects a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	/*background-color: #FAFAFA; 
	border-bottom: 1px solid #F1F1F1; 
	border-right: 1px solid #F1F1F1;*/
	padding: 1px;
}

div#content a:hover , div#extra a:hover, div#sidebar a:hover {
	color: #b31b1b;
	font-weight: bold;
	text-decoration: none;
	/*background-color: #FAFAFA; 
	border-bottom: 1px solid #CCC; 
	border-right: 1px solid #CCC;*/
	padding: 1px;
}

div#header {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b31b1b;
	/*line-height:1.8em;*/
}

div#header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: normal;
	color: #b31b1b;
	letter-spacing: -1px;
}

div#header h2 { /* The tagline thing */
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	padding-left: 20px;
	/*margin-top: -15px;*/
}

div#header a {
color: black;
font-weight: bold;

}

div#header a:hover {
color: #b31b1b;	
}

/*#navigation {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
float: right;
}

#navigation li {
display: inline;
padding-right: 20px;
font-size: 11px;
}

#navigation li a {
font-size: 11px;
color: #666;
font-weight: normal;
padding: 4px;
text-decoration: none;
}

#navigation li a:hover {
text-decoration: underline;
}

*/
div#container {
text-align:left
}

div#content {
margin-top: 20px;
}

div#content p, div#media_area li, div#projects_area li, div#extra p, div#sidebar p, div#underline li, div#picture p {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #444;
line-height:1.8em;
}

div#extra h1, div#media_area h1, div#projects_area h1, div#sidebar h1, div#picture h1, div#tweets h1 {
font-size: 20px;
font-weight: normal;
color: #b31b1b; 
text-decoration: none; 
padding: 3px 6px; 
border-bottom: 1px solid #b31b1b; 
}

div#content h1 {
font-size: 20px;
font-weight: normal;
color: #b31b1b; 
text-decoration: none; 
padding: 3px 6px; 
}

div#content h2 {
font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #444;
margin: 0;
padding: 0;
}

div#footer p {
margin:0;
padding:5px 10px;
}

div#container {
width:700px;
margin:0 auto;
}

/*div#underline {
float:left;
width:300px;
margin-top: 20px;
}*/
 
div#email {
float: right;
font-size: 20px;
/*margin-top: 20px;*/
color: #b31b1b;
}

div#twitter {
margin-left: auto;
margin-right: auto;
width: 100%;
}





div#projects_area a, div#media_area a {
color: black;

}

div#projects_area a:hover, div#media_area a:hover {
color: #b31b1b; 
}


div#projects {
/*float: left;*/
width:330px;	
}

div#small_data_image {
/*float: right;*/
width: 400px;
}


div#tweets {
/*float:right;*/
width:400px;	
}

div#sidebar {
float:right;
width:400px;
padding-bottom: 200px;
}
div#extra {
float:left;
width:330px;
}
div#press { 
/*float: left;*/
width:330px;
}

div#footer {
margin-top: 60px;
background-color: #b31b1b;
color: #FFF;
font-size: 11px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
padding: 5px;
}

div#footer a, div#footer a:hover {
margin-top: 10px;
background-color: #b31b1b;
color: #FFF;
font-size: 11px;
font-family: Tahoma, Arial, Helvetica, sans-serif;
clear:both;
width:100%;
color: #FFF;
font-weight: bold;
text-decoration: none;
border-bottom: 1px solid #b31b1b; 
border-right: 1px solid #b31b1b;
}

/*

 Would be nice if you could keep this credit below. Thanks.

*/

#design-by {
float: right;
display:inline;
}
